
.cardimg{
    opacity: 0.5;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
    
}

.card-article{
    height: 100vh;
    border-radius: 0px !important;
}
.vws{
    font-family: 'Montserrat';
    font-size: 13px;
    margin-bottom: 3px;
    text-shadow: 0px 0px 1px ;
}

.A-card-title{
    font-family: 'Zen Maru Gothic' ;
    font-size : clamp(30px, 10vw, 45px);
    font-weight: bolder;

}

.card-text {
    font-family: 'Roboto';
    text-overflow: ellipsis;
 
}

.by{
    font-size: 13px;
}



.article-date{
    position: absolute;
    Top: 1vw;
    right: 3vw;
    padding: 15px !important;
}



.A-body{
    text-align: center;
    
}

