@import url('http://fonts.cdnfonts.com/css/agency-fb?styles=17318');

html *{
    font-family: 'Montserrat';
}

.search-nav{
    padding: 6px;
    border-radius: 15px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-color: #000000;
    background-color: rgba(255, 255, 255, .15) !important;  
 backdrop-filter: blur(5px) !important;
}

 input:focus {
    border-color: #c1a067 !important;
    /* box-shadow: 0 0 0 0.2rem rgba(184, 144, 33, 0.25); */
} 

.mcard{
    /* background-color: rgba(255, 255, 255, .95) !important;  
 backdrop-filter: blur(10px) !important; */
 background-color: rgba(255, 255, 255, .15) !important;  
 backdrop-filter: blur(5px) !important;
}

.scard{
    background-color: rgba(255, 255, 255, .95) !important;  
 backdrop-filter: blur(10px) !important;
}

.txt{
    
    font-size: 12px;
    color: white;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.login{
    font-family: 'Montserrat';
    font-size: 35px;
   
}
  
.navbar{
    padding: 5px 0px 5px 0px  !important;
}
.navbar-brand{
    margin-left: 10px;

}
.icon
{
    color: white;
    font-size: 25px;
    font-family:"Agency, FontAwesome"
    

}
.icons1
{
    color: white;
    font-size: 22px;
    font-family:"Agency, FontAwesome";
    margin-top: 5px;
    
}

/* .Search{
    font-size: 17px;
} */

.chip {
    display: inline-block;
    padding: 0px 9px 0px 9px;
    height: 30px;
    font-size: 10px;
    color: white;
    line-height: 30px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .1) !important;  
 backdrop-filter: blur(5px) !important;
  }
  
  /* .bchip{
    margin-right: 2vw;
  } */
  .rec{
    color: #c7c7c7;
  }
  .hello{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
   

  }
  .name{
    font-size: 23px;
    color: #ffffff;
    font-family: 'Montserrat';
  }
  .pp{
    margin-bottom: 0px;
  }

  .bor{
    border: 2px solid;
    border-radius: 20px;
    border-color: #515151 !important;
  }
  
  .closebtn {
    padding-left: 5px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 15px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }


.dm
{
    background-color: rgba(255, 255, 255, .15) !important;  
 backdrop-filter: blur(5px) !important;
}

.sp{
    color: rgb(233, 233, 233) !important;
    font-weight: lighter;
    
}
.hp{
    color: rgb(255, 255, 255) !important;
    font-weight: bolder;
    
}
h1{
    font-family: 'Montserrat';
    color: white;
    margin-left: 10px;
    font-size: 30px !important;
    text-shadow: 0px 0px 3px ;

}
h2{
    color: white;
    margin-left: 25px;
    font-size: 30px !important;
    text-shadow: 0px 0px 3px ;
    font-family: 'Montserrat';

}
h3{
    padding-top: 5px;
    color: rgb(134, 134, 134);
    margin-left: 25px;
    font-size: 17px !important;
    font-family: 'Montserrat';
    /* text-shadow: 0px 0px 3px ; */

}
h4{
    font-family: 'Zen Maru Gothic';
    margin-top: 5px;
    color: white;
    margin-left: 12px;
    font-size: 16px !important;
    text-transform: uppercase;
    /* text-shadow: 0px 0px 3px ; */

}
h6{
    color: #C39B54;
    margin-bottom: 5px !important;
    margin-left: 3px;
    font-family: 'Montserrat';
  
  }



.tflex .card 
{
    overflow: hidden;
    min-width: 180px;
    max-width: 180px;
    max-height: 260px;
    margin-right: 20px;
    border-color: #C39B54!important;
    /* box-shadow: 3px 3px 4px 3px #000000,  0px 0px 3px 3px #e7e7e7, inset 0px -75px 10px 0px  rgba(0, 0, 0, 0.5) ; */
    box-shadow: 3px 3px 3px 1px #000000,  0px 0px 3px 1px #e7e7e7, inset 0px -74px 34px 0px  rgba(0, 0, 0, 0.7) ;
}



.tflex
{
    display: flex;
    flex: 1; 
    height: 272px;
    flex-flow: row nowrap;
    overflow-x: auto !important;
    align-items: center;
    padding-left: 6px;
}
.tflex::-webkit-scrollbar{
    display: none;
}
.nflex::-webkit-scrollbar{
    display: none;
}

.ci{
    opacity: 0.5;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    z-index: -1;
    
}


.cio{
    padding: 0.4rem 0.6rem !important;
}


.cti
{

    position: absolute;
    top: 6.4px;
    left: 9.6px;
    font-size: 36px;
    text-shadow: 3px 3px 5px #000;
    font-family: 'Zen Maru Gothic';
}


.para{
    font-size: 12px;
    text-overflow: ellipsis;
    object-fit: cover;
    overflow: hidden;
    padding-bottom: 5px;
    height: 62px;
    margin-left: 3px;
    font-family: 'Montserrat' ;
    text-transform: uppercase;
    
}
.para1{
    font-size: 12px;
    color: white !important;
    font-weight: 400 !important;
    padding-top: 10px;
    padding-left:8px ;
    padding-right: 3px;
    overflow: hidden;
    height: 56px;
    text-overflow: ellipsis;
    font-family: 'Montserrat';
}

.cont{
    max-width: 160px;
    min-width: 160px;
    height: 226px;
    margin-right: 20px;

}


.nflex
{
    display: flex;
    flex: 1; 
    height: 260px;
    flex-flow: row nowrap;
    overflow-x: auto !important;
    align-items: center;

    background-color: #98763f;
background-image: linear-gradient(296deg, #98763f 6%, #522888 24%, #000000 56%);

    
}
.nflex .child{

    min-width: 160px;
    max-width: 160px;
    margin-right: 25px;
    

}
.cit
{
    width: 160px;
    height: 160px;
    border: 1px solid #C39B54!important;
    box-shadow: 3px 3px 3px 1px #000000,  0px 0px 3px 1px #e7e7e7, inset 0px -75px 10px 0px  rgba(0, 0, 0, 0.5) ;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: black;
    display: flex;
    overflow-x: auto;
 
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #ffff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}





.nav__icon {
    font-size: 18px;
}
a:hover {
    color: #C39B54 !important;
}




.cb{
    padding: 10px !important;
    color: #ffff;
    border-color: #000 !important;
    
}
.bb{
    padding: 5px 5px 0px 5px!important;
    color: #ffff;
    border-color: #000 !important;
    background-color: #151419;

}
    


.billy{
    background-color:#151419 !important ;
    padding: 8px 8px 3px 8px;
    border:1px solid #000;
    box-shadow: -1px -1px 8px -2px #e7e7e7 !important;
    border-radius: 1.3rem;
}
.billy-1{
    background-color:#151419 !important ;
    padding: 8px 8px 3px 8px;
    border:1px solid #000;
    box-shadow: -1px -1px 8px -2px #e7e7e7 !important;
    border-radius: 1.3rem;
    max-height: 150px;

}

.bill-title{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Oswald';
    text-shadow: 0px 0px 1px;
}

.billyimg{
    border: 2px solid #8b8b8b;
    box-shadow: inset 5px 5px 1px 5px #8b8b8b,inset -5px -5px 1px 5px #8b8b8b;
    
}
.billyimg-1{
    border: 2px solid #8b8b8b;
    box-shadow: inset 5px 5px 1px 5px #8b8b8b,inset -5px -5px 1px 5px #8b8b8b;
    max-height: 95px;
    object-fit: cover;

}
.bn a{
    color: #7c7c7c;
    font-size: 10px;
}

 .card-text {
  margin-bottom: 5px !important;
 }


.btns
{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    padding: 0px 5px 0px 5px;
}

.btns i{
    font-size: 25px;
    cursor: pointer;
}

.btns .left i{
    margin-right: 12px;
}



.www{
  font-size: small;
  padding-top: 10px ;
  color: #C39B54;
  margin-right: 10px;
  font-family: 'Montserrat' ;
  font-weight: bold;
  margin-bottom: 10px;
}
.ctitle
{
  font-family: 'Zen Maru Gothic';
  font-size: medium;
  margin-bottom: 15px !important;
  text-transform: uppercase;
}
.ctext{
  font-family: 'Montserrat' ;
  font-size: small;
  
}

.hr
{
  width: 100%;
  height: 2px;
  background-color: #3d3d3d;
background-image: linear-gradient(90deg, #3d3d3d 52%, #4b4b4b 72%, #878787 100%);
}
.hs
{
  width: 100%;
  height: 1px;
  background-color: #262626;
background-image: linear-gradient(90deg, #262626 0%, #9b9b9b 46%, #262626 100%);

}

  
  /* .ctnr {
    margin-top: 40px;
    padding-top: 20px;

  }
  .vertical {
    display: inline-block;
    width: 900%;
    height: 40px;
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
  }
  .vertical {
    box-shadow: inset 0px 4px 6px #ccc;
  }
  .progress-bar {
    box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
  } */

  .ctnr
  {
    max-height: 260px ;
 
  }

  .loadbar
  {
       width:60px;
       height:154px;
       background-color:#000;
       border:1px solid #ccc;
       position:relative; 
       margin-right: 0px;
       border-radius: 14px;
       border-color:#C39B54;
        display: flex;
        flex-flow: nowrap;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
  }
  .bar
  {
      width:100%;
      display:block;        
      font-family:arial;
      font-size:12px; 
      color:#fff;       
      position:absolute;
      bottom:0;      
      border-radius: 14px;
      background-color: #522888;
background-image: linear-gradient(180deg, #522888 1%, #000000 100%);

   
  }

.loadbar h5{

    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
    font-family: 'Montserrat' ;
    font-size: 12px;
    font-weight: lighter;
    color: #fff;
    text-align: left;
    

    
}
.pding{
    padding: 0px 15px 0px 15px;
}
.polls{
    margin: 0px 10px 6px 10px;
}
.gossips{
    margin: 0px 10px 0px 12px;
}
.polls1
{
    color: #515151;
    font-family: 'Montserrat';
    font-size: 15px ;
    font-weight: 500;
    text-shadow: 0px 0px 4px ;
}
.percent{
    color:#fff;
    font-family: 'Montserrat';
    text-shadow: 0px 0px 4px ;
    font-size: 13px;
}

.cb1{
    padding: 12px !important;
    color: #ffff;
    margin: 0px 5px 0px 5px;
    
    
}
.gossipsbody{
    background-color: #151419;
    padding: 10px 10px 2px 15px ;
    border-radius: 1.5rem;
    box-shadow: -2px -2px 8px -3px #e7e7e7;
}

.gossipsimg{
    font-size: smaller;
    color: #C2C2C2;
    margin-bottom: 13px;
}

.gossipsimg span{
    font-family: 'Montserrat';
    font-size: 12px;
    margin-left: 5px;

}
.web{
    color: #585858;
    font-family: 'Montserrat';
    font-size: 11px;
    margin: 0px;
}
.popup{
  position: absolute;
  left: 50%;
}
button{
  outline: none;
  cursor: pointer;

  transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}
.view-modal{
  transform: translate(-50%, -50%);
}
.popup{
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  top: -150%;
  max-width: 380px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out,
              opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;
}
.popup.show{
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform:translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out,
              opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;

}
.popup :is(header, .icons_1, .field){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup header{
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}
header span{
  font-size: 21px;
  font-weight: 600;
}
header .close, .icons_1 a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
header .close{
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
header .close:hover{
  background: #ebedf9;
}
.popup .content{
  margin: 20px 0;
}
.popup .icons_1{
  margin: 15px 0 15px 0;
}
.content p{
  font-size: 16px;
}
.content .icons_1 a{
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}
.icons_1 a i{
  transition: transform 0.3s ease-in-out;
  margin-right: 0px !important;
}
.icons_1 a:nth-child(1){
  color: #1877F2;
  border-color: #b7d4fb;
}
.icons_1 a:nth-child(1):hover{
  background: #1877F2;
}
.icons_1 a:nth-child(2){
  color: #46C1F6;
  border-color: #b6e7fc;
}
.icons_1 a:nth-child(2):hover{
  background: #46C1F6;
}
.icons_1 a:nth-child(3){
  color: #e1306c;
  border-color: #f5bccf;
}
.icons_1 a:nth-child(3):hover{
  background: #e1306c;
}
.icons_1 a:nth-child(4){
  color: #25D366;
  border-color: #bef4d2;
}
.icons_1 a:nth-child(4):hover{
  background: #25D366;
}
.icons_1 a:nth-child(5){
  color: #0088cc;
  border-color: #b3e6ff;
}
.icons_1 a:nth-child(5):hover{
  background: #0088cc;
}
.icons_1 a:hover{
  color: #fff;
  border-color: transparent;
}
.icons_1 a:hover i{
  transform: scale(1.2);
}
.content .field{
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}
.field.active{
  border-color: #7d2ae8;
}
.field i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.field.active i{
  color: #7d2ae8;
}
.field input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
.field button{
  color: #fff;
  padding: 5px 18px;
  background: #7d2ae8;
}
.field button:hover{
  background: #8d39fa;
}

.icons_1{
    padding-left: 0px !important;

}

@media screen and (min-width: 572px)
{
  .hr{
    display: none;
  }
}

@media (min-width: 1200px)
{
.container {
    max-width: 1300px;
}
}
@media (min-width: 1400px)
{
.container {
    max-width: 1700px !important;
}
}




